.profile__edit-button {
  background-color: #000;
  border: none;
  padding: 0 0 0 18px;
  height: 24px;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 920px) {
  .profile__edit-button {
    padding: 0 0 0 10px;
    height: 18px;
    width: 28px;
  }
}
