.popup__container {
  min-height: 330px;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  position: relative;
  /* top: calc((100% - 320px) / 2);
  left: calc((100% - 430px) / 2);  */
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 920px) {
  .popup__container {
    min-height: 322px;
    max-width: 282px;

    /* top: calc((100% - 322px) / 2);
    left: calc((100% - 282px) / 2); */
  }
}
