.popup__btn-save {
  display: block;
  margin: 48px auto 0;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.popup__btn-save:hover {
  opacity: 80%;
}

@media screen and (max-width: 920px) {
  .popup__btn-save {
    margin: 45px auto 0;
    width: 238px;
    height: 46px;

    font-size: 14px;
  }
}
